{include="manage"}
<div id="bottom_scroll">
	<a href="manage/groups"><< {$back|strtoupper}</a>
	<div class="add_set">
		<form method="POST" action="actions/add_group.php" class="add">
			<label for="titlegr">Title</label>
			<input type="text" name="titlegr" autocomplete="off" id="titlegr" /><br />
			<input type="hidden" name="manager_id" value="{$manager_id}" />
			<input type="submit" value="{$submit}" />
		</form>
	</div>
</div>