{include="manage"}
<div id="bottom_scroll">
	<a href="manage/groups"><< {$back|strtoupper}</a>
	<div class="grdel">
	<form method="POST" action="actions/del_group.php">
	<input type="hidden" name="group_id" value="{$ext}" />
	<input type="submit" value="<< {$delete|strtoupper} >>" />
	</form>
	</div><br />

	<div class="grdel" id="grdel">
	<form method="POST" action="actions/clear_group.php">
	<input type="hidden" name="group_id" value="{$ext}" />
	<input type="submit" value="<< {$clear|strtoupper} >>" />
	</form>
	</div>

	<table class="members">
		{loop="members"}
		{if="$key % 10 == 0"}
		<tr>
			<th>{$username}</th>
			<th>{$name}</th>
			<th>{$role}</th>
			<th>{$remove}</th>
		</tr>
		{/if}
		<tr class="mem_list">
			<td>{$value.username}</td>
			<td>{$value.name}</td>
			<td>{$value.role}</td>
			<td class="del_mem">
				<form method="POST" action="actions/member_del.php">
					<input type="submit" value="{$deleteset}" />
					<input type="hidden" name="user_id" value="{$value.id}" />
					<input type="hidden" name="group_id" value="{$ext}" />
				</form>
			</td>
		</tr>
		{if="($key % 5 == 0 && $key != 0) || $key == $mem_count-1 && (count($left) != 0 && is_array($left))"}
		<form method="POST" action="actions/member_add.php">
		<tr>
			<td colspan="3" id="btm_"></td>
		</tr>
		<tr id="btm">
			<td id="btm_memb" colspan="2">
				<select name="user_id">
					<option></option>
					{loop="left"}
						<option class="mem_opt" value="{$value.id}">{$value.username} | {$value.name}</option>
					{/loop}
				</select>
			</td>
			<td id="btm_1">
				<input type="submit" value="{$add}" />
				<input type="hidden" name="group_id" value="{$ext}" />
			</td>
		</tr>
		</form>
		{/if}
		{else}
		<form method="POST" action="actions/member_add.php">
		<tr>
			<td colspan="3" id="btm_"></td>
		</tr>
		<tr id="btm">
			<td id="btm_memb" colspan="2">
				<select name="user_id">
					{loop="left"}
						<option class="mem_opt" value="{$value.id}">{$value.username} | {$value.name}</option>
					{/loop}
				</select>
			</td>
			<td id="btm_1">
				<input type="submit" value="{$add}" />
				<input type="hidden" name="group_id" value="{$ext}" />
			</td>
		</tr>
		</form>
		{/loop}
	</table>
</div>