{include="manage"}
<div id="bottom_scroll">
<a href="manage/roles"><< {$back|strtoupper}</a>
	<div class="add_set">
		<form method="POST" action="actions/add_role.php" class="add">
			<label for="role">{$role}</label>
			<input type="text" name="role" autocomplete="off" id="role" /><br />
			<label for="manager_id">{$manager}</label>
			<select name="manager_id" id="manager_id">
				{loop="usersval"}
					<option value="{$value.id}">{$value.name}</option>
				{/loop}
			</select><br />
			<label for="english">{$englishset}</label>
			<input type="text" name="english" autocomplete="off" id="english" /><br />
			<label for="latvian">{$latvianset}</label>
			<input type="text" name="latvian" placeholder="Optional" autocomplete="off" id="latvian" /><br />
			<label for="manager">{$manager}</label>
			<input type="checkbox" name="manager" id="manager" /><br />
			<label for="active">{$active}</label>
			<input type="checkbox" name="active" id="active" /><br />
			<input type="submit" value="{$submit}" />
		</form>
	</div>
</div>