{include="manage"}
<div id="bottom_scroll">
<a href="manage/users/user/{$ext}"><< {$back|strtoupper}</a>
	<div class="add_set">
		<form method="POST" class="add filediv" enctype="multipart/form-data">
			{if="$image"}
				<div id="imguser"><img src="../../../{$image}" /></div>
				<br /><br />
			{/if}
			<div id="file_div">
				<input type="file" name="file_file" class="file" id="file" />
			</div>
			<div class="text">({$primary})</div>
			<div id="name_div">or</div>
			<input type="text" name="file_url" class="urlf imgtext" autocomplete="off" placeholder="{$file_url}" /><br />
			<div class="text">({$secondary})</div>
			<input type="hidden" name="{$ext_name}" value="{$ext_s}" />
			<input type="hidden" name="{$action_name}" value="{$action_s}" />
			<input type="submit" name="submit" value="{$submit}">
			<input type="submit" name="revoke" value="{$revoke_image}">
		</form>
	</div>
</div>