{include="manage"}
<div id="bottom_scroll">
<a href="manage/users/user/{$ext}"><< {$back|strtoupper}</a>
<div class="add_set">
	<form method="POST" class="add">
		<div id="user_name">{$user_name}</div>
		<label for="current">Current Password</label>
		<input type="password" name="id" id="current" /><br />
		<label for="new1">New Password</label>
		<input type="password" name="name" id="new1" /><br />
		<label for="new2">Password Again</label>
		<input type="password" name="value" id="new2" /><br />
		<input type="hidden" name="{$ext_name}" value="{$ext_s}" />
		<input type="hidden" name="{$action_name}" value="{$action_s}" />
		<input type="submit" value="{$submit}" />
	</form>
</div>
</div>