{include="manage"}
<div id="bottom_scroll">
	<a href="manage/users"><< {$back|strtoupper}</a>
	{if="$isid"}
	<span class="right_text">
		<form method="POST">
			<input type="submit" value="{$delete|strtoupper}" />
			<input type="hidden" name="{$action_name}" value="{$action2_s}" />
			<input type="hidden" name="{$ext_name}" value="{$ext_s}" />
		</form>
	</span>
	{/if}
	<div class="add_set">
		<form method="POST" class="add">
			<label for="username">{$username}<span class="obl">*</span></label>
			{if="!$isid"}
				<input type="text" name="{$username_name}" autocomplete="off" id="username" value="{$username_val}" /><br />
			{else}
				<input type="text" readonly="readonly" class="readonly" autocomplete="off" id="username" value="{$username_val}" /><br />
			{/if}
			{if="!$isid"}
				<label for="password1">{$password_reg}<span class="obl">*</span></label>
				<input type="password" name="{$password1_name}" autocomplete="off" id="password1" /><br />
				<label for="password2">{$again_reg}<span class="obl">*</span></label>
				<input type="password" name="{$password2_name}" autocomplete="off" id="password2" /><br />
			{/if}
			<label for="name">{$name}<span class="obl">*</span></label>
			<input type="text" name="{$name_name}" autocomplete="off" id="name" value="{$name_val}" /><br />
			<label for="surname">{$surname}</label>
			<input type="text" name="{$surname_name}" autocomplete="off" id="surname" placeholder="({$optional})" value="{$surname_val}" /><br />
			<label for="email">{$email}</label>
			<input type="text" name="{$email_name}" autocomplete="off" id="email" placeholder="({$optional})" value="{$email_val}" /><br />
			<label for="phone">{$phone}</label>
			<input type="text" name="{$phone_name}" autocomplete="off" id="phone" placeholder="({$optional})" value="{$phone_val}" /><br />
			<label for="role">{$role}</label>
			<select name="{$role_name}" id="role" {if="$role_id == 4 || $id_val == $id"} class="noblock" {/if}>
			{loop="roles"}
				{if="$value.level != 1"}
					{if="$value.id == $role_id"}
						<option value="{$value.id}" selected="selected">{$value.name}</option>
					{else}
						<option value="{$value.id}">{$value.name}</option>
					{/if}
				{/if}
			{/loop}
			</select><br />
			{if="$isid && $role_id != 4 && $id_val != $id"}
				<label for="blocked">{$blocked}</label>
				{if="$blocked_val == 0"}
					<input class="roles_check" type="checkbox" name="{$blocked_name}">
				{else}
					<input class="roles_check" type="checkbox" name="{$blocked_name}" checked="checked">
				{/if}
			{/if}
			{if="$isid"}
				<div class="ch chone">
					<a href="manage/users/password/{$ext}"><div class="chpuser">&nbsp;{$chpass}</div></a>
				</div><br />
				<div class="ch">
					<a href="manage/users/image/{$ext}"><div class="chpuser">&nbsp;{$primage}</div></a>
				</div><br />
			{/if}
			{if="$isid"}
				<div class="text addtext">{$user_edit_warning}</div>
			{/if}
			<input type="hidden" name="{$ext_name}" value="{$ext_s}" />
			<input type="hidden" name="{$action_name}" value="{$action_s}" />
			{if="($isid && $role_id == 4) || !$isid"}
				<input type="hidden" name="{$blocked_name}" value="{$blocked_cry}" />
			{/if}
			<input type="submit" value="{$submit}" />
		</form>
	</div>
</div>