{include="settings"}
<div id="bottom_scroll" class="editor_div">
	<form method="POST">
		<textarea class="editor" name="{$editor_name}">{$editor_text}</textarea>
		<input type="hidden" name="{$action_name}" value="{$action_s}" />
		<input type="hidden" name="{$ext_name}" value="{$ext_s}" />
		<!-- <div class="edit"></div> -->
		<input type="submit" value="{$submit}" />
	</form>
</div>