{include="settings"}
<div id="bottom_scroll" class="set">
	<a href="settings/redefine/menus"><< {$back|strtoupper}</a>
	<div id="set">
	<form method="POST">
		<span class="roleset">/*----{$role_name}----*/</span>
		<div class="middle_set">
			<table>
				<tr>
					<th>{$nameset}</th>
					<th>{$order}</th>
					<th>{$englishset}</th>
					<th>{$latvianset}</th>
					<th>{$visible}</th>
				</tr>
				{loop="menus"}	
				<tr>
					<td>
						<input class="set_name" type="text" readonly="readonly" value="{$value.name}" name="name_{$value.id}" />
					</td>
					<td>
						<input class="set_order" type="text" value="{$value.order}" name="order_{$value.id}" autocomplete="off" />
					</td>
					<td>
						<input class="set_lang" type="text" value="{$value.english}" name="english_{$value.id}" autocomplete="off" />
					</td>
					<td>
						<input class="set_lang" type="text" value="{$value.latvian}" name="latvian_{$value.id}" autocomplete="off" />
					</td>
					<td>
						{if="$value.visible == 1"}
							<input type="checkbox" checked="true" name="visible_{$value.id}" />
						{else}
							<input type="checkbox" name="visible_{$value.id}"/>
						{/if}
					</td>
				</tr>
				{/loop}
			</table>
		</div>
		<input type="hidden" name="{$ext_name}" value="{$ext_s}" />
		<input type="hidden" name="{$action_name}" value="{$action_s}" />
		<input type="hidden" name="ids" value="{$ids}" />
		<input type="submit" value="{$submit}" class="radd" />
	</form>
	</div>
</div>