body {
	background: url('images/fabric2.png');
	overflow-y: scroll;
	font-family: cursive; 
}

a, a:hover, a:visited, a:link, a:active {
	color: #9da7ae;
	text-decoration: none;
}

#main {
	width: 1200px;
	height: 850px;
	margin: auto;
	margin-top: 30px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #9da7ae;
}

#navmenu {
	height: 850px;
	width: 200px;
	border-right: 1px solid #9da7ae;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#logo {
	height: 100px;
	margin-bottom: 20px;
	border-right: 2px solid #38393B;
	z-index: 100;
	width: 200px;
}

#logo img {
	height: 90px;
	width: 136px;
	margin: 5px 32px 5px 32px;
}

#topmenu {
	border-bottom: 1px solid #9da7ae;
	width: 1000px;
	height: 100px;
	margin-left: 200px;
	margin-top: -850px;
}

.menu {
	background: url('images/fabric2.png');
	height: 97px;
	padding-top: 3px;
}

.menu .iconm, .menu .iconm2 {
	margin: 5px 76px 5px 76px;
	height: 48px;
}

.menu .iconm2 {
	display: none;
}

.menu .textm {
	font-size: 24px;
	font-family: cursive;
	font-weight: bold;
	text-align: center;
	color: #9da7ae;
}

.menu:hover {
	background: #9da7ae;
	cursor: pointer;
}

.menu:hover .iconm {
	display: none;
}

.menu:hover .iconm2 {
	display: block;
}

.menu:hover .textm {
	color: #38393B;
}

#log {
	margin: -100px 0 auto auto;
	width: 100px;
	height: 100px;
}

.login {
	margin: 26px;
	cursor: pointer;
}

#language {
	cursor: pointer;
}

#user {
	font-size: 15px;
	font-family: cursive;
	font-weight: bold;
	color: #9da7ae;
	float: right;
	margin: -3px 20px auto auto;
}

#title {
	font-size: 35px;
	font-family: cursive;
	font-weight: bold;
	color: #9da7ae;
	margin: -80px auto auto 190px;
	cursor: default;
}

#middle {
	height: 400px;
	width: 65%;
	position: absolute;
	left: 30%;
	top: 350px;
}

#login, #pass {
	/*height: 35px;*/
	width: 550px;
	padding: 3px 15px 3px 15px;
	/*margin: 50px 0 5px 20px;*/
	font-size: 25px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: url('images/fabric2.png');
	border: 1px solid #9da7ae;
	color: #9da7ae;
	font-family: cursive;
}

#login:focus, #pass:focus {
	outline: 0;
}

#submit {
	height: 45px;
	float: right;
	font-size: 25px;
	font-family: cursive;
	padding: 3px 15px 3px 15px;
	background: url('images/fabric2.png');
	color: #9da7ae;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.lblLogin {
	color: #9da7ae;
	font-family: cursive;
	font-size: 25px;
}

#top_scroll, #bottom_scroll {
	border: 1px solid #9da7ae;
	overflow-y: scroll; 
	width: 998px;
	float: right;
	margin-bottom: 50px;
}

#top_scroll {
	height: 218px;
}

#bottom_scroll {
	height: 432px;
}

.lbl_td {
	width: 150px;
}

#top_scroll td, .btm_groups td {
	height: 40px;
	background: #9da7ae;
	width: 450px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#top_scroll a, .btm_groups a {
	color: #38393B;
}

#top_scroll table, .btm_groups {
	border-spacing: 10px;
}

#top_scroll td:hover, .btm_groups td:hover {
	background: transparent;
}

#top_scroll td:hover a, .btm_groups td:hover a {
	color: #9da7ae;
}

.bottom_data {
	width: 500px;
	font-family: cursive;
	padding: 4px;
	font-size: 17px;
	background: transparent;
	color: #9da7ae;
	border: 1px solid #9da7ae;
}

.bottom_lbl {
	width: 250px;
	background: white;
	font-size: 15px;
	font-weight: bold;
	font-family: cursive;
	padding: 3px;
	color: #9da7ae;
	background: transparent;
	text-align: right;
	margin-right: 30px;
	border: 0;
}

#bottom_scroll #value_define {
	border-spacing: 5px;
}

#bottom_scroll #value_define input[type=text] {
	outline: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#bottom_scroll #value_define input[type=button] {
	border: 1px solid #9da7ae;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	background: transparent;
	color: #9da7ae;
}

#bottom_scroll #value_define input[type=button]:hover, .bottom_submit:hover {
	cursor: pointer;
	background: #9da7ae;
	color: #38393B;
}

.bottom_submit {
	padding: 5px;
	border: 1px solid #9da7ae;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	background: transparent;
	color: #9da7ae;
}

.set {
	color: #9da7ae;
}

.set table {
	border-spacing: 5px;
}

.set input[type=text] {
	outline: 0;
	background: transparent;
	color: #9da7ae;
	font-family: cursive;
	text-align: center;
	font-size: 20px;
}

.set_lang, .set_order {
	border: 1px solid #9da7ae;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.set_name {
	width: 75px;
	font-weight: bold;
	border: 0;
}

.set_order {
	width: 30px;
}

.middle_set {
	text-align: center;
	margin-bottom: 30px;
}

.submit_menus {
	border: 2px solid #9da7ae;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 30px;
	font-weight: bold;
	background: transparent;
	color: #9da7ae;
}

.nb {
	margin-left: 20px;
}

#bsubm {
	margin: 10px 0 20px 5px;
}

.submit_menus:hover {
	cursor: pointer;
	background: #9da7ae;
	color: #38393B;
}

#set {
	margin-left: 125px;
}

.set_lang {
	width: 225px;
}

.roleset {
	font-size: 25px;
	margin-top: 15px;
}

.set th {
	font-size: 22px;
}

.set input[type=checkbox] {
  -ms-transform: scale(2.3); /* IE */
  -moz-transform: scale(2.3); /* FF */
  -webkit-transform: scale(2.3); /* Safari and Chrome */
  -o-transform: scale(2.3); /* Opera */
  padding: 10px;
}

#roles {
	text-align: center;
	margin: 10px auto auto 25px;
}

#roles input, #users input, .members input {
	font-family: cursive;
}

#roles th, #users th, .members th {
	color: #9da7ae;
	font-size: 20px;
	border-bottom: 3px dotted #9da7ae;
}

.roles_name {
	background: transparent;
	color: #9da7ae;
	font-weight: bold;
	outline: 0;
	border: 0;
	text-align: center;
	width: 100px;
	font-size: 17px;
	max-width: 110px;
}

.roles_manager {
	outline: 0;
	background: transparent;
	border: 0;
	font-family: cursive;
	font-weight: bold;
	color: #9da7ae;
	font-size: 16px;
	width: 128px;
	max-width: 128px;
}

.roles_option {
	background: #38393B;
}

.roles_lang {
	outline: 0;
	background: transparent;
	color: #9da7ae;
	border: 2px solid #9da7ae;
	padding: 3px;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-width: 160px;
	max-width: 160px;
}

.roles_check {
	-ms-transform: scale(2.3); /* IE */
	-moz-transform: scale(2.3); /* FF */
	-webkit-transform: scale(2.3); /* Safari and Chrome */
	-o-transform: scale(2.3); /* Opera */
	padding: 10px;
}

#roles_submit {
	border: 2px solid #9da7ae;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 17px;
	font-weight: bold;
	background: transparent;
	color: #9da7ae;
}

#roles_submit:hover {
	cursor: pointer;
	background: #9da7ae;
	color: #38393B;
}

.middle_set th {
	border-bottom: 3px dotted #9da7ae;
}

#add_role_a {
	font-size: 38px;
	vertical-align: middle;
	border: 2px solid #9da7ae;
	padding: 3px;
	margin: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	color: #9da7ae;
}

#add_role {
	margin-top: 20px;
}

#add_role_img {
	padding-right: 5px;
}

.add {
	margin: 30px auto auto 200px;
}

.add label {
	font-size: 25px;
	color: #9da7ae;
	margin-right: 15px;
	display: inline-block;
	/*width: 135px;*/
	width: 220px;
}

.add input[type=text], .add select, .add input[type=password] {
	width: 300px;
	color: #9da7ae;
	background: transparent;
	outline: 0;
	border: 2px solid #9da7ae;
	font-size: 20px;
	padding: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.add input[type=checkbox] {
	-ms-transform: scale(2.3); /* IE */
	-moz-transform: scale(2.3); /* FF */
	-webkit-transform: scale(2.3); /* Safari and Chrome */
	-o-transform: scale(2.3); /* Opera */
	margin-left: 8px;
}

.add select {
	width: 309px;
	font-weight: bold;
	padding: 0;
}

.add select option {
	background: #38393B;
}

.add input[type=submit] {
	color: #9da7ae;
	background: transparent;
	outline: 0;
	border: 2px solid #9da7ae;
	font-size: 20px;
	padding: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
	font-weight: bold;
}

.add input[type=submit]:hover {
	cursor: pointer;
	background: #9da7ae;
	color: #38393B;
}

.settop {
	width: 100%;
}

#users, .members {
	text-align: center;
	margin: 10px auto auto auto;
}

#users #name {
	width: 144px;
}

.users_phone {
	outline: 0;
	background: transparent;
	color: #9da7ae;
	border: 2px solid #9da7ae;
	padding: 3px;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100px;
	max-width: 110px;
}

.users_role {
	background: transparent;
	color: #9da7ae;
	font-weight: bold;
	outline: 0;
	border: 0;
	text-align: center;
	width: 120px;
	font-size: 17px;
}

.td {
	padding-top: 4px;
	vertical-align: top;
}

.td2 {
	padding-top: 12px;
	vertical-align: top;
}

#users table input[type=submit], 
.chpuser, 
.imguser, 
#btm_1 input[type=submit], 
.del_mem input[type=submit] {
	border: 2px solid #9da7ae;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 17px;
	font-weight: bold;
	background: transparent;
	color: #9da7ae;
	font-family: cursive;
}

#users table input[type=submit]:hover, 
.chpuser:hover, 
.imguser:hover, 
#btm_1 input[type=submit]:hover, 
.del_mem input[type=submit]:hover {
	cursor: pointer;
	background: #9da7ae;
	color: #38393B;
}

.submuser {
	width: 170px;
}

#user_name {
	color: #9da7ae;
	font-size: 25px;
	border-bottom: 3px dotted #9da7ae;
	width: 235px;
}

.imguser {
	width: 166px;
	margin-left: 2px;
}

.usr_del {
	padding: 2px;
}

.usr_del input {
	margin: 12px auto 8px auto;
}

.usr_del label {
	padding-left: 5px;
	color: #9da7ae;
}

.nb {
	height: 40px;
}

.btm_groups {
	margin-left: 20px;
}

.members {
	font-family: cursive;
	font-size: 20px;
	margin-bottom: 25px;
}

.members td {
	width: 200px;
}

.members select {
	width: 400px;
	float: left;
	outline: 0;
	border: 0;
	font-family: cursive;
	font-size: 20px;
	padding: 2px;
	background: transparent;
	font-weight: bold;
	color: #9da7ae;
}

#btm_ {
	border-width: 0 0 2px 0;
	border-style: dotted;
	border-color: #9da7ae;
	height: 15px;
}

.members select option {
	background: #38393B;
	color: #9da7ae;
}

#btm_1 {
	border-width: 0 2px 2px 0;
	border-style: dotted;
	border-color: #9da7ae;
}

#reg {
	width: 998px;
	float: right;
	text-align: left;
	color: #9da7ae;
	font-size: 25px;
	font-weight: bold;
}

#reg_top #bottom_scroll {
	border: 0;
	overflow-y: hidden;
	margin-top: 50px;
}

.mem_list td {
	color: #9da7ae;
}

.grdel {
	float: right;
	width: 140px;
}

#grdel {
	width: 0;
}

.grdel input[type=submit] {
	border: 0;
	font-size: 17px;
	font-weight: bold;
	background: transparent;
	color: #9da7ae;
	font-family: cursive;
}

.grdel input[type=submit]:hover {
	cursor: pointer;
	background: #9da7ae;
	color: #38393B;
}

#random_text {
	margin: auto auto auto 225px;
	font-family: cursive;
	color: #9da7ae;
	overflow-y: scroll;
	height: 664px;
	max-height: 664px;
	margin-top: 68px;
}

.help {
	font-family: cursive;
	color: #9da7ae;
	margin: auto 10px auto 10px;
}

.editor {
	width: 99%;
	height: 360px;
	padding-left: 6px;
	resize: none;
	font-family: cursive;
	background: transparent;
	border: 0;
	outline: none;
	color: #9da7ae;
}

.editor_div input[type=submit] {
	border: 2px solid #9da7ae;
	font-size: 17px;
	font-weight: bold;
	background: transparent;
	color: #9da7ae;
	font-family: cursive;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.editor_div input[type=submit]:hover {
	cursor: pointer;
	background: #9da7ae;
	color: #38393B;
}

.edit {
	height: 20px;
	border: 1px solid #9da7ae;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 98%;
	margin-left: 1%;
	margin-bottom: 3px;
}

.add input[type=file] {
	font-size: 17px;
	font-weight: bold;
	background: transparent;
	color: #9da7ae;
	font-family: cursive;
	width: 570px;
}

.file {
	opacity: 0;
	filter: alpha(opacity = 0);
	-ms-filter: "alpha(opacity=0)";
}

#file_div {
	border: 2px solid #9da7ae;
	width: 570px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #9da7ae;
}

#file_div:hover {
	cursor: pointer;
	background: transparent;
}

.filediv input[type=text] {
	width: 565px;
}

#name_div {
	color: #9da7ae;
}

.add_set img {
	border: 2px solid #9da7ae;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}

#imguser {
	text-align: center;
	margin-left: -200px;
}

.bugs {
	height: 100px;
	border-bottom: 1px solid #9da7ae;
}

#bottom_scroll_bugs {
	border-bottom: 1px solid #9da7ae;
	border-top: 1px solid #9da7ae;
	width: 999px;
	float: right;
	margin-bottom: 50px;
}

.bug_list {
	height: 336px;
	overflow-y: scroll;
}

#bTitle {
	color: #9da7ae;
	padding: 3px;
}