{include="menu"}
<div id="middle">
<form method="POST">
	<table id="tbl_login">
		<tr>
			<td class="lbl_td">
				<label class="lblLogin" for="login">{$lbl_login}: </label>
			</td>
			<td>
				<input type="text" name="name" id="login" autocomplete="off" placeholder="Login / E-mail / Phone" value="admin" />
			</td>
		</tr>
		<tr>
			<td class="lbl_td">
				<label class="lblLogin" for="pass">{$lbl_pass}: </label>
			</td>
			<td>
				<input type="password" name="value" id="pass" autocomplete="off" placeholder="Password" value="qazwsx" />
				<input type="hidden" name="{$action_name}" value="{$action_s}" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" name="submit" id="submit" value="Login" />
			</td>
		</tr>
	</table>
</form>
</div>