{include="menu"}
<div id="top_scroll">
	<table>
		{loop="manage"}
			{if="$key % 2 == 0"}
				<tr><td><a class="manatop" href={$value.function}><div>{$value.name}</div></a></td>
			{else}
				<td><a class="manatop" href={$value.function}><div>{$value.name}</div></a></td></tr>
			{/if}
		{/loop}
	</table>
</div>