<div id="navmenu">
	<div id="logo">
		<img src="css/images/quiz_logo_sh_{$theme}.png" />
		<div id="user">{$user_name}</div>
	</div>
	{loop="menu"}
	<a href="{$value.lower}">
		<div class="menu">
			<div class="iconm" style="background: url('templates/css/images/menu/{$theme}/{$value.lower}.png') no-repeat"></div>
			<div class="iconm2" style="background: url('templates/css/images/menu/{$theme}/{$value.lower}2.png') no-repeat"></div>
			<div class="textm">{$value.name}</div>
		</div>
	</a><br />
	{/loop}
</div>
<div id="topmenu">
	<div id="lang">
		<form method="POST">
			<input type="image" class="login" src="css/images/menu/{$theme}/lang.png" />
			<input type="hidden" name="{$page_name}" value="{$getpage_s}" />
			<input type="hidden" name="{$action_name}" value="{$language_s}" />
		</form>
	</div>
	<div id="log">
		<a href="{$actionu}"><img class="login" src="css/images/menu/{$theme}/{$actionpic}_{$theme}.png"/></a>
	</div>
	<div id="title">{$menu_title}</div>
</div>