{include="menu"}
<div id="reg_top">
<div id="reg">{$registration}</div>
<div id="bottom_scroll">
	<div class="add_set">
		<form method="POST" action="actions/add_user.php" class="add">
			<label for="username">{$username}</label>
			<input type="text" name="username" autocomplete="off" id="username" /><br />
			<label for="password1">{$password_reg}</label>
			<input type="password" name="password1" autocomplete="off" id="password1" /><br />
			<label for="password2">{$again_reg}</label>
			<input type="password" name="password2" autocomplete="off" id="password2" /><br />
			<label for="name">{$name}</label>
			<input type="text" name="name" autocomplete="off" id="name" /><br />
			<label for="surname">{$surname}</label>
			<input type="text" name="surname" autocomplete="off" id="surname" placeholder="({$optional})" /><br />
			<label for="email">{$email}</label>
			<input type="text" name="email" autocomplete="off" id="email" placeholder="({$optional})" /><br />
			<label for="phone">{$phone}</label>
			<input type="text" name="phone" autocomplete="off" id="phone" placeholder="({$optional})" /><br />
			<label for="code">{$code_reg}</label>
			<input type="text" name="code" autocomplete="off" id="code" placeholder="({$optional})" /><br />
			<input type="submit" value="{$register}" />
		</form>
	</div>
</div>
</div>