{include="manage"}
<div id="bottom_scroll">
	<a href="manage/groups/group/n">{$new|strtoupper} >></a>
	<table class="btm_groups">
		{loop="groups"}
			{if="$key % 2 == 0"}
				<tr><td>
					<a href="manage/groups/manage/{$value.id}"><div>{$value.name} ({$value.counter}) [{$value.manager}]</div></a>
				</td>
			{else}
				<td>
					<a href="manage/groups/manage/{$value.id}"><div>{$value.name} ({$value.counter}) [{$value.manager}]</div></a>
				</td></tr>
			{/if}
		{/loop}
	</table>
</div>