{include="manage"}
<div id="bottom_scroll">
	<table class="btm_groups">
	{loop="levels"}
			{if="$key % 2 == 0"}
				<tr><td>
					<a href="manage/levels/level/{$value.id}"><div>{$value.name}</div></a>
				</td>
			{else}
				<td>
					<a href="manage/levels/level/{$value.id}"><div>{$value.name}</div></a>
				</td></tr>
			{/if}
		{/loop}
	</table>
</div>