{include="manage"}
<div id="bottom_scroll">
<a href="manage/roles/role/n">{$add|strtoupper} >></a>
<table id="roles">
	{loop="rolesvalues"}
	{if="$key % 10 == 0"}
	<tr>
		<th>{$role}</th>
		<th>{$managerid}</th>
		<th>{$english}</th>
		<th>{$latvian}</th>
		<th>{$manager}</th>
		<th>{$active}</th>
		<th>{$delete}</th>
		<th></th>
	</tr>
	{/if}
		<tr>
		<form method="POST" action="actions/roles.php">
		<td>
			<input class="roles_name" type="text" readonly="true" name="name" value="{$value.name}{if="$value.id == $role"}*{/if}" />
			<input type="hidden" name="id" value="{$value1.id}" />
		</td>
		<td>
			<select class="roles_manager" name="manager_id">
				{loop="usersval"}
					{if="$value2.id == $value1.manager_id"}
						<option class="roles_option" value="{$value2.id}" selected>{$value2.name}</option>
					{else}
						<option class="roles_option" value="{$value2.id}">{$value2.name}</option>
					{/if}
				{/loop}
			</select>
		</td>
		<td>
			<input class="roles_lang" type="text" name="english" value="{$value.english}" autocomplete="off" /></td>
		<td>
			<input class="roles_lang" type="text" name="latvian" value="{$value.latvian}" autocomplete="off" />
		</td>
		<td>
			{if="in_array($value1.id, array(3,4))"}
				<input class="roles_check" type="checkbox" checked="true" name="manager" disabled="disabled" />
			{elseif="$value1.manager == 1"}
				<input class="roles_check" type="checkbox" checked="true" name="manager"/>
			{else}
				<input class="roles_check" type="checkbox" name="manager" />
			{/if}
		</td>

		<td>
			{if="in_array($value1.id, array(1,2,3,4))"}
				<input class="roles_check" type="checkbox" checked="true" name="active" disabled="disabled" />
			{elseif="$value1.active == 1"}
				<input class="roles_check" type="checkbox" checked="true" name="active"/>
			{else}
				<input class="roles_check" type="checkbox" name="active" />
			{/if}
		</td>
		<td>
			{if="in_array($value1.id, array(1,2,3,4))"}
				<input class="roles_check" type="checkbox" name="delete" disabled="disabled" />
			{elseif="$value1.delete == 1"}
				<input class="roles_check" type="checkbox" checked="true" name="delete"/>
			{else}
				<input class="roles_check" type="checkbox" name="delete" />
			{/if}
		</td>
		<td>
			<input id="roles_submit" type="submit" value="{$submit}" />
		</td>
		</form>
		</tr>
	{/loop}
</table>
</div>