{include="manage"}
<div id="bottom_scroll">
	<a href="manage/roles/role/n">{$new|strtoupper} >></a>
	<table class="btm_groups">
	{loop="roles"}
			{if="$key % 2 == 0"}
				<tr><td>
					<a href="manage/roles/role/{$value.id}"><div>{$value.name} ({if="$value.active == 1"}Active{else}Inactive{/if}) [{$level} {$value.level}]</div></a>
				</td>
			{else}
				<td>
					<a href="manage/roles/role/{$value.id}"><div>{$value.name} ({if="$value.active == 1"}Active{else}Inactive{/if}) [{$level} {$value.level}]</div></a>
				</td></tr>
			{/if}
		{/loop}
	</table>
</div>