{include="manage"}
<div id="bottom_scroll">
	<a href="manage/users/user/n">{$new|strtoupper} >></a>
	<table class="btm_groups">
	{loop="users"}
			{if="$key % 2 == 0"}
				<tr><td>
					<a href="manage/users/user/{$value.id}"><div>{$value.name} ({$value.username})</div></a>
				</td>
			{else}
				<td>
					<a href="manage/users/user/{$value.id}"><div>{$value.name} ({$value.username})</div></a>
				</td></tr>
			{/if}
		{/loop}
	</table>
</div>