{include="settings"}
<div id="bottom_scroll" class="set">
	<table class="btm_groups">
		{loop="roles"}
			{if="$key % 2 == 0"}
				<tr><td>
					<a href="settings/redefine/menus/role/{$value.id}"><div>{$value.name}</div></a>
				</td>
			{else}
				<td>
					<a href="settings/redefine/menus/role/{$value.id}"><div>{$value.name}</div></a>
				</td></tr>
			{/if}
		{/loop}
	</table>
</div>