{include="settings"}
<div id="bottom_scroll">
<table id="value_define">
{loop="datavalues"}
	<tr id="define_{$value.id}">
		<td><form method="POST"></td>
		<td>
			<input class="bottom_lbl" type="text" readonly="true" name="name" value="{$value.name}:" />
			<img src="../../favicon.png" title="{$value.comment}" >
		</td>
		<td>
			<input class="bottom_data" type="text" name="value" value="{$value.value}" autocomplete="off"/>
			<input type="hidden" name="id" value="{$value.id}" />
			<input type="hidden" name="{$ext_name}" value="{$ext_s}" />
			<input type="hidden" name="{$action_name}" value="{$action_s}" />
		</td>
		<td>
			<input class="bottom_submit" type="submit" value="{$submit}" />
		</td>
		<td></form></td>
	</tr>
{/loop}
</table>
</div>